// color
$primary-color: #b5b5b5;
$primary-color-light: #efefef;
$primary-color-dark: #555;
$secondary-color: #efefef;

$pin-color: #52c1b4;
$pin-color-dark: #367f76;
// font size
$control-size-lg: 2.4rem;
